$colors: (
  black: #333333,
  grey: (
    500: #efefef,
    700: #c7c7cd,
  ),
  white: #ffffff,
  pink: #e6356f,
);

$space-xs: 8px;

$space-sm: 16px;

$space: 32px;

$sectionPadding: 32px;

$border: 1px solid #{map-get($colors, pink)};

$radius: 4px;

$card: 1px solid #{map-get($colors, grey, 700)};

$transition: 0.25s all ease-out;
