@import "./../../variables.scss";

$gap: $space-sm;

.figure-car {
  padding: $space-sm;
  text-align: center;
  border-right: $card;

  @media screen and (min-width: 768px) {
    padding: 0 $space;
  }

  img {
    width: 100%;
    max-width: 350px;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
}

.content {
  width: 100%;
  padding: $space-sm;

  &__figure {
    svg {
      max-width: 120px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.car-meta {
  margin-top: $space-xs;
  gap: $gap;
}

.price {
  margin-top: $space-xs;
  line-height: 1;
}

.info {
  flex-wrap: wrap;
  margin-top: $space-sm;
  gap: $gap;

  &__item {
    flex: 0 0 calc(33.3% - #{$gap});
    width: calc(33.3% - #{$gap});
    min-width: 210px;
    gap: 8px;

    svg {
      width: 20px;
      height: auto;
    }
  }
}

.btn {
  margin-top: $space-sm;
  align-self: center;

  @media screen and (min-width: 450px) {
    align-self: flex-end;
  }
}
